{% extends 'base.html' %}

{% block title %}blog admin {% endblock %}
{% block content %}
<div class="row">
        <h3>blog admin</h3>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="messages">
            <ul class="flashes">
                {% for msg  in messages %}
                <li> {{ msg }}</li>
                {% endfor %}
            </ul>
    <div class="col-md-offset-3 col-md-6">
        </div>
        {% endif %}
        {% endwith %}
        <p>
            welcome {{ session.username }} - <a href="{{ url_for('logout') }}">logout</a>
        </p>

        <div class="post-list">
            {% for post in posts %}
            <div class="post-item">
                <h4><a href="{{ url_for('article', slug=post.slug) }}">{{ post.title }}</a> </h4>
                <div class="text-muted">posted by <a href="#">{{ post.author.fullname }}</a>
                    on {{ post.publish_date.strftime('%y-%m-%d') }}
                in <a href="#">{{ post.category.name }}</a></div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}
