{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

    <div class="row">
    <div class="col-md-offset-3 col-md-6">

        {% if post.image %}
        <img src="{{ post.imgsrc }}" width="300px" class="img-rounded">
        {% endif %}

        <h3>{{ post.title }}</h3>
        {% if session.get('is_author') %}
        <a href="{{ url_for('edit', post_id = post.id) }}">Edit</a> -
        <a href="{{ url_for('delete', post_id = post.id) }}">delete</a>
        {% endif %}

        {{ post.body|markdown }}
        <hr/>
        <div class="text-muted">posted by <a href="#">{{ post.author.fullname }}</a>
            on {{ post.publish_date.strftime('%Y-%m-%d') }} in <a href="#">{{ post.category.name }}</a> </div>
{#{% filter markdown %}#}
{## ur makrdown#}
{##}
{#1. pt1#}
{#1. next#}
{#1. poste#}
{##}
{#{% endfilter %}#}
    </div>
    </div>
{% endblock %}