<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{#<link rel="stylesheet" type="text/css" href="../static/css/http_stackpath.bootstrapcdn.com_bootstrap_4.1.3_js_bootstrap.js">#}
{#    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='') }}">#}

</head>
<body>
    <div class="container ">
        {% block content %}{% endblock %}
    </div>
    <div class="col-md-offset-3 col-md-6">
        <hr/>
        <footer>
            &copy; copyright
        </footer>
    </div>
{#    jquery 4 bootstrap#}
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
{#    bootstrap JS #}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>